==
<h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ 'samples/rooms'|page }}">Massage Rooms</a></li>        
                        <li><a href="{{ 'samples/intro'|page }}">About us</a></li>
                        <li><a href="{{ 'samples/gallery'|page }}">Our Massages</a></li>
                        <li><a href="{{ 'tour'|page }}">Packages</a></li>
                        <li><a href="{{ 'samples/contact'|page }}">Contact</a></li>
                    </ul>